MixMac.xcodeproj/xcuserdata/*
MixMac.xcodeproj/xcshareddata/*
MixMac.xcworkspace/xcuserdata/*
MixMac.xcworkspace/xcshareddata/*
MixMac.xcodeproj/project.xcworkspace/xcuserdata/*
MixMac.xcodeproj/project.xcworkspace/xcshareddata/*
Pods/
Podfile.lock
